aliases:
  - &credentials
    name: Retrieve temporary Algolia credentials if needed
    command: |
      if [ "$CIRCLE_PR_REPONAME" ]; then
        curl -s https://algoliasearch-client-keygen.herokuapp.com | sh >> $BASH_ENV
      fi

  - &check_bundler
    name: Which bundler?
    command: bundle -v

  - &restore_cache
    name: Restore Bundler cache
    keys:
      - rails-cache-<< parameters.version >>-<< parameters.rails-version >>-<< parameters.sequel-version >>-{{ checksum "Gemfile" }}
      - rails-cache-<< parameters.version >>-<< parameters.rails-version >>-<< parameters.sequel-version >>-

  - &install_bundler
    name: Bundle Install
    command: bundle check || bundle install

  - &save_cache
    name: Save Bundler cache
    key: rails-cache-<< parameters.version >>-<< parameters.rails-version >>-<< parameters.sequel-version >>-{{ checksum "Gemfile" }}
    paths:
      - vendor/bundle

  - &run_tests
     name: Run unit and integration tests
     command: |
       bundle exec rake

references:
  default_docker_ruby_executor: &default_docker_ruby_executor
    image: circleci/ruby:<< parameters.version >>
    environment:
      BUNDLE_JOBS: 3
      BUNDLE_RETRY: 3
      BUNDLE_PATH: vendor/bundle
      RAILS_VERSION: << parameters.rails-version >>
      SEQUEL_VERSION: << parameters.sequel-version >>

version: 2.1

jobs:
  tests_rails_5:
    description: Build, unit and integration tests
    parameters:
      version:
        type: string
      rails-version:
        type: string
      sequel-version:
        type: string
    docker:
      - *default_docker_ruby_executor
    steps:
      - checkout
      - run: *check_bundler
      - restore_cache: *restore_cache
      - run: *install_bundler
      - save_cache: *save_cache
      - run: *credentials
      - run: *run_tests
  tests_rails_6:
    description: Build, unit and integration tests
    parameters:
      version:
        type: string
      rails-version:
        type: string
      sequel-version:
        type: string
    docker:
      - *default_docker_ruby_executor
    steps:
      - checkout
      - run: *check_bundler
      - restore_cache: *restore_cache
      - run: *install_bundler
      - save_cache: *save_cache
      - run: *credentials
      - run: *run_tests

workflows:
  version: 2
  ci:
    jobs:
      - tests_rails_5:
          matrix:
            parameters:
              version: ['2.4', '2.5', '2.6']
              rails-version: ['5.1']
              sequel-version: ['5.0']
      - tests_rails_6:
          matrix:
            parameters:
              version: ['2.5', '2.6', '2.7']
              rails-version: ['6.0']
              sequel-version: ['5.0']
